@model HairSalon.Models.Client

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Add Client</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
    <div class="container">
    <h4>Add a new client</h4>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            <br>
            @Html.LabelFor(model => model.HairType)
            @Html.TextBoxFor(model => model.HairType)
            <br>
            @Html.LabelFor(model => model.Stylist)
            @Html.DropDownList("StylistId");
        }
    </div>
</html>

